<div class="container">
  <a routerLink="/auth">Logout</a>
    <div class="row">
       <div *ngFor="let shop of nearbyShops" class="col-sm-6 col-md-4 col-lg-3 col-xs-6" >
          
              
                <h4>{{shop.name}}</h4>
              
              <img src="{{shop.picture}}" width="100%" *ngIf="shop.picture">
              <button class="btn btn-primary" (click)="like(shop)">like</button>
              <button class="btn btn-danger" (click)="dislike(shop)">dislike</button>
            </div>
        
    </div>
</div>
 

